<% content_for :user_content do %>
  <% @likes.each do |like| %>
    <% post = Post.find_by(id: like.post_id) %>
    <% if post %>
      <div class="posts-index-item">
        <div class="post-left">
          <% if post.user %>
            <% if post.user.image_name.to_s.empty? %>
              <img src="/user_images/default_user.jpg">
            <% else %>
              <%= image_tag(post.user.image_name.to_s) %>
            <% end %>
          <% else %>
            <img src="/user_images/deleted_user.jpg">
          <% end %>
        </div>

        <div class="post-right">
          <div class="post-user-name">
            <% if post.user %>
              <%= link_to(post.user.name, "javascript:void(0)") %>
            <% else %>
              <%= Settings.user.deleted_user_name %>
            <% end %>
          </div>
          <%= link_to(post.content, "javascript:void(0)") %>
        </div>
      </div>
    <% else %>
      <div class="posts-index-item">
        <div class="post-left">
          <img src="/user_images/deleted_user.jpg">
        </div>
        <div class="post-right">
          <div class="post-liker-name">
            <%= Settings.post.deleted_post_user_name %>
          </div>
          <%= Settings.post.deleted_post %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>

<%= render template: "layouts/user" %>