<% content_for :user_content do %>
  <ul class="user-tabs">
    <li class="active"><%= link_to("投稿", "/users/#{@user.id}") %></li>
    <li><%= link_to("いいね!", "/users/#{@user.id}/likes") %></li>
    <li><%= link_to("ライカたち", "/users/#{@user.id}/likers") %></li>
  </ul>
  <% @user.posts.each do |post| %>
    <div class="posts-index-item">
      <div class="post-left">
        <img src="<%= "/user_images/#{post.user.image_name}" %>">
      </div>
      <div class="post-right">
        <div class="post-user-name">
          <%= link_to(post.user.name, "/users/#{post.user.id}") %>
        </div>
        <%= link_to(post.content, "/posts/#{post.id}") %>
      </div>
    </div>
  <% end %>
<% end %>

<%= render template: "layouts/user" %>