<div class="main posts-index">
  <div class="container index-postarea">
    <%= form_tag("/posts/create") do %>
      <div class="form">
        <div class="form-body">
        <h2>投稿する</h2>
        <% @post.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>
          <textarea name="content"><%= @post.content %></textarea>
          <input type="submit" value="投稿">
        </div>
      </div>
    <% end %>
  </div>
  <div class="container">
  <% @posts.each do |post| %>
    <div class="posts-index-item">
      <div class="post-left">
      <% if post.user %>
        <img src="<%= "/user_images/#{post.user.image_name}" %>">
      <% else %>
        <img src="/user_images/deleted_user.jpg">
      <% end %>
      </div>
      <div class="post-right">
        <div class="post-user-name">
        <% if post.user %>
          <%= link_to(post.user.name, "/users/#{post.user.id}") %>
        <% else %>
          <%= Settings.user.deleted_user_name %>
        <% end %>
        </div>
        <%= link_to(post.content, "/posts/#{post.id}") %>
      </div>
    </div>
  <% end %>
  </div>
</div>