<% content_for :content do %>
<div class="main user-show">
  <div class="container">
    
    <div class="user">
      <img src="/user_images/<%= @user.image_name %>">
      <h2><%= @user.name %></h2>
      <p><%= @user.intro %></p>
      <% if @user.id == @current_user.id %>
        <p><%= @user.email %></p>
        <p>手持ちのライカー：<%= @user.likers.count %></p>
      <% end %>
      <%= @followers_count %>
      <%= link_to("フォロワー", "/users/#{@user.id}/followers") %>
      <%= @followings_count %>
      <%= link_to("フォロー", "/users/#{@user.id}/followings") %>
      <% if @user.id == @current_user.id %>
        <%= link_to("編集", "/users/#{@user.id}/edit", class: "rad-link") %>
      <% else %>
        <% if Follow.find_by(follower_id: @current_user.id, following_id: @user.id) %>
          <%= link_to("フォロー中", "/follows/#{@user.id}/destroy", {method: "post", class: "rad-link"}) %>
        <% else %>
          <%= link_to("フォローする", "/follows/#{@user.id}/create", {method: "post", class: "rad-link"}) %>
        <% end %>
      <% end %>
    </div>
    <ul class="user-tabs">
      <%  if @path == "show"%><li class="active"><% else %><li><% end %><%= link_to("投稿", "/users/#{@user.id}") %></li>
      <%  if @path == "likes"%><li class="active"><% else %><li><% end %><%= link_to("いいね!", "/users/#{@user.id}/likes") %></li>
      <%  if @path == "likers"%><li class="active"><% else %><li><% end %><%= link_to("ライカたち", "/users/#{@user.id}/likers") %></li>
    </ul>
    <%= yield(:user_content) or yield %>

  </div>
</div>
<% end %>

<%= render template: "layouts/application" %>